.vscode/### IntelliJ IDEA ###
.idea*
*.iws
*.iml
*.ipr
*/out/**
.DS_Store



# vscode
.vscode/
.bsp/
.bloop/
.metals/
*.class
*.log
.scalafmt.conf

.idea
.bsp

.vscode
SparkDO5/.bsp
SparkDO5/.idea
SparkDO5/target/
target/

# sbt specific
.cache/
.history/

.lib/
dist/*

project/project/
project/target/
project/.bloop
project/metals.sbt

target/
kubernetes/

